<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 2px solid black;
            padding: 8px;
            text-align: center;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>

</head>


<body>

<table >
    <?php for ($i = 1; $i < count($data); $i++): ?>
    <tr>
        <?php foreach ($data[$i] as $cell): ?>
        <td><?php echo $cell; ?></td>
        <?php endforeach; ?>
    </tr>
    <?php endfor; ?>
</table>


</body>


</html>